<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Warwic kAnalytics</title>

    <link rel="stylesheet" href="scripts/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="scripts/lib/css/ng-grid.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="scripts/lib/jquery.min.js"></script>
    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/angular-resource.min.js"></script>
    <script src="scripts/lib/ng-grid-2.0.11.min.js"></script>
    <!-- bootstrap directives for angular-->
    <script src="scripts/lib/ui-bootstrap-tpls.min.js"></script>
    <!-- to upload csv file -->
    <script src="scripts/lib/ng-file-upload.min.js"></script>
    <script src="scripts/app.js"></script>

</head>

<body>
<img src="images/WA_Logo3D.png"/>

<h1> Decision Processor Application</h1>

<br>

<div class="container">
    <form name="myForm" ng-controller="uploaderController">
        <h1>Upload</h1>

        <p>Upload CSV file to be processed. Max 2MB</p>
        <!-- BROWSE -->
        <div class="form-group">
            <input type="file"
                   ngf-select
                   ng-model="csvFile" name="file"
                   accept="text/csv"
                   ngf-max-size="2MB"
                   required>
            <i ng-show="myForm.file.$error.maxSize">File too large {{csvFile.size / 1000000|number:1}}MB: max 2M</i>
        </div>


        <!-- SUBMIT -->
        <button class="btn btn-success"
                ng-disabled="!myForm.$valid"
                ng-click="uploadFile(csvFile)">
            <i class="glyphicon glyphicon-ok"></i> Submit
        </button>
        <!-- ALERT -->
        <p>

        <div class="alert alert-danger" ng-show="errorMsg">Upload Error!</div>
        <div class="alert alert-success" ng-show="uploadSuccess">Upload Successful.</div>
        </p>
    </form>
</div>


<div ng-controller="filesController">
    <div class="grid">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
    <div class="search">
        <form name="searchForm" ng-submit="submit()" novalidate>
            <button type="submit" class="btn btn-primary">Refresh Files</button>
        </form>
    </div>
</div>

<br>

<div ng-controller="linesController">
    <h1>File Details</h1>

    <div class="grid">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>


</body>
</html>
